

<div class="contenedorHuertos">
  <!--este es el bloque donde estan todas las cosas de la izquierda, botones y textos-->
  <div class="contenedorDivIzquierdaYDivDerecha">
  <div class="gridIzquierda">
    <div class="nombreCampoParaIndexHuertos">
      <div class="letraNormal"><strong> <%=@campo.nombre%></strong></div>
    </div>
    <div class="contenedorGeneralVistasGridIzquierdaIndexHuertos">
      <!--vista normal-->
      <div class="vistasIndexHuertos vistaNormalIndexHuertos">
        <div class="contenedorElementoVistaIndexHuerto">
          <%=button_tag("+ Huerto", class: "btn botonNaranjo botonIndexOpcionesPrincipales",id: "botonAgregarHuerto")%>
        </div>
        <div class="contenedorElementoVistaIndexHuerto">
          <%=button_tag("Trabajos", class: "btn botonAzul botonIndexOpcionesPrincipales",id: "botonAgregarHuerto")%>
        </div>
        <div class="contenedorElementoVistaIndexHuerto">
          <%=button_tag("Aplicaciones", class: "btn botonAzul botonIndexOpcionesPrincipales",id: "botonAgregarHuerto")%>
        </div>
        <div class="contenedorElementoVistaIndexHuerto">
          <%=button_tag("Producciones", class: "btn botonAzul botonIndexOpcionesPrincipales",id: "botonAgregarHuerto")%>
        </div>
      </div>
      <!--vista agregando huerto-->
      <div class=" vistasIndexHuertos vistaAgregandoHuertoIndexHuertos letraNormalChica">
          <p class="textoAyudaGridIzquierdaIndexHuertos">1) Cree la figura del huerto haciendo diferentes clicks en el espacio de la derecha.</p> 
          <p class="textoAyudaGridIzquierdaIndexHuertos">2) Una vez que la figura del nuevo huerto este completa precione el boton "crear" para continuar.</p> 
          <div class="contenedorBotonAgregandoHuertoGridIzquierdaIndexHuertos">
            <button type="button" class="btn botonVerde botonGridIzquierdaIndexHuertosAgregar" id="botonConfirmarAgregarHuerto">Crear</button>
            <button type="button" class="btn botonRojo botonGridIzquierdaIndexHuertosAgregar" id="cancelarAgregarHuerto">Cancelar</button>   
          </div>
      </div>
      <!------------------vista editando huerto figura grid izquierda----------------------------------------->


      <div class=" vistasIndexHuertos vistaEditandoHuertoFiguraIndexHuertos letraNormalChica" >
          <p class="textoAyudaGridIzquierdaIndexHuertos"> 1) Cree la nueva figura del huerto haciendo clicks en el espacio de la derecha.</p> 
          <p class="textoAyudaGridIzquierdaIndexHuertos"> 2) Una vez que la nueva figura este establecida precione el boton "Editar" para finalizar.</p>
          <div class="contenedorBotonEditandoHuertoGridIzquierdaIndexHuertos">
            <button type="button" class="btn botonVerde botonGridIzquierdaIndexHuertosEditar" id="confirmarEditandoHuertoFiguraElegida">Editar</button>
            <button type="button" class="btn botonRojo botonGridIzquierdaIndexHuertosEditar " id="cancelarEditandoHuertoFiguraElegida">Cancelar</button>  
          </div>  
      </div>
    </div><!--fin contenedor general de vistas gridIzquierda-->


  </div><!--fin gridIzquierda-->


    <!--todo lo que esta en la derecha, donde estan los mapas-->
    <div id="gridDerechaMapaHuertos" data-permiso="normal" data-bloque="bloqueHuertosUno" >
      <!--aca estan los botones 1, 2 y 3 para cambiar bloques-->
      <div id="todosLosBotonesParaCambiarBloque">
        <!--el boton tiene que estar dentro de este div para que sea clickeable-->
        <div class="btn-group" role="group" aria-label="Third group">
            <button  id="botonParaCambiarABloqueUno" class="btn btn-dark active botonParaCambiarBloque" ><strong>1</strong></button>
        </div>
        <!--el boton tiene que estar dentro de este div para que sea clickeable-->
        <div class="btn-group" role="group" aria-label="Third group">
            <button  id="botonParaCambiarABloqueDos" class="btn btn-secondary botonParaCambiarBloque" ><strong>2</strong></button>
        </div>
        <!--el boton tiene que estar dentro de este div para que sea clickeable-->
        <div class="btn-group" role="group" aria-label="Third group">
            <button  id="botonParaCambiarABloqueTres" class="btn btn-secondary botonParaCambiarBloque" ><strong>3</strong></button>
        </div> 
      </div>

<!-- aca etan todos los bloques con los huertos en su interior -->
        <div id="bloqueHuertosUno" class="bloqueHuertos bloqueHuertosInicialmenteVisibles" data-urlImagen="<%= @campo.imagenUno%>">
               <!--Boton para agregar mapa de fondo-->
               <div  class="botonesAgregarImagenMapa bloqueHuertosUno">
                  <%=link_to(button_tag("Mapa fondo", class: "btn btn-secondary" ),user_campo_elegirMapaBloqueUno_path(current_user,@campo), method: :get , id: "botonAgregarMapaBloqueUno" )%>
               </div>
               <svg style="width:100%;height:100%;" id="svgMapaBloqueUno" class="svgMapasBloques">
                   <!--aca para cada huerto se ejecuta el codigo cosa de mostrarlos en el div -->
                   <% @adentroSVGBloqueUno= true%>  
                   <%=render partial: "huerto", collection: @huertos, locals: {campo: @campo}%>
                   <% @adentroSVGBloqueUno= false%> 
               </svg>
        </div>

        <div id="bloqueHuertosDos" class="bloqueHuertos bloqueHuertosInicialmenteEscondidos" data-urlImagen="<%= @campo.imagenDos%>">
               <!--Boton para agregar mapa de fondo-->
               <div  class="botonesAgregarImagenMapa">
                  <%=link_to(button_tag("Mapa fondo", class: "btn btn-secondary" ),user_campo_elegirMapaBloqueDos_path(current_user,@campo), method: :get, id: "botonAgregarMapaBloqueDos"  )%>
               </div>
               <svg style="width:100%;height:100%;" id="svgMapaBloqueDos" class="svgMapasBloques">
                   <!--aca para cada huerto se ejecuta el codigo cosa de mostrarlos en el div -->
                   <% @adentroSVGBloqueDos= true%>  
                   <%=render partial: "huerto", collection: @huertos, locals: {campo: @campo}%>
                   <% @adentroSVGBloqueDos= false%>
               </svg>
        </div>

        <div id="bloqueHuertosTres" class="bloqueHuertos bloqueHuertosInicialmenteEscondidos" data-urlImagen="<%= @campo.imagenTres%>">
               <!--Boton para agregar mapa de fondo-->
               <div  class="botonesAgregarImagenMapa bloqueHuertosTres">
                  <%=link_to(button_tag("Mapa fondo", class: "btn btn-secondary" ),user_campo_elegirMapaBloqueTres_path(current_user,@campo), method: :get, id: "botongAregarMapaBloqueTres"  )%>
               </div>
               <svg style="width:100%;height:100%;" id="svgMapaBloqueTres" class="svgMapasBloques">
                   <!--aca para cada huerto se ejecuta el codigo cosa de mostrarlos en el div -->
                   <% @adentroSVGBloqueTres= true%>  
                   <%=render partial: "huerto", collection: @huertos, locals: {campo: @campo}%>
                   <% @adentroSVGBloqueTres= false%> 
               </svg>
        </div>


            <!--Son las alertas que aparecen dentro del mapa-->
           
            <div id="avisoSuperficieHuertoNoValida" class="alert alert-primary" role="alert">
                  <strong> Primero se tiene que asignar una superficie valida en el mapa</strong>
            </div>
            <div id="avisoHuertoEditadoDeFormaExitosa" class="alert alert-primary" role="alert">
                  <strong> Huerto editado de forma exitosa</strong>
            </div>
            <div id="avisoCargandoMapaHuerto" class="alert alert-primary" role="alert">
                  <strong>Cargando el mapa</strong>
            </div>


            <div id="modalsHuertosOpciones">
               <!--esta parte se ejecuta en el else del partial huerto-->
               <%=render partial: "huerto", collection: @huertos, locals: {campo: @campo}%>
            </div>

             <div id="avisoNoSePuedeCambiarBloque" class="alert alert-primary " role="alert">
                <strong>No se puede cambiar de bloque mientras se esta creando o editando un huerto.</strong>
            </div>


    </div><!--fin gridDerecha-->
  </div><!--fin contenedor grid izquierda y derecha-->







    <!--Aca ponemos el modal que aparece al apretar un huerto, no puede ir dentro del svg, pr eso lo ponemos afuera , es la segunda parte de cada huerto-->
    
    

    <!--es lo que se usa para crear un huerto-->
    <%=render partial: "crearHuerto"%>
</div><!--fin contenedor huerto (el fondo)-->




