<div class="contenedorFondoFichaGenerica">
  <div class="opcionesArribaFichaGenerica letraNormal">
      <div><strong> Ficha del huerto: <%=@huerto.nombre%></strong></div>
  </div>

  <div class="contenedorLinkSuperioresMasContenidoFichaGenerica">
    <!--LinksSuperioresEmpleado-->
    <div class="linksSuperioresFichaGenerica ">
        <ul class=" listaLinksFichaGenerica letraNormal">
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Principal",user_campo_huerto_path(current_user,@campo, @huerto), :method => "get", class: "linkFichaGenerica linkSeleccionadoFichaGenerica")%>
          </li>
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Planificación",user_campo_huerto_path(current_user,@campo, @huerto), :method => "get", class: "linkFichaGenerica")%>
          </li>
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Trabajos",user_campo_huerto_path(current_user,@campo, @huerto), :method => "get", class: "linkFichaGenerica ")%>
          </li>
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Aplicaciones",user_campo_huerto_huerto_aplicaciones_path(current_user,@campo, @huerto), :method => "get", class: "linkFichaGenerica ")%>
          </li>
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Producción",user_campo_huerto_path(current_user,@campo, @huerto), :method => "get", class: "linkFichaGenerica")%>
          </li>
          
        </ul>
    </div><!--fin LinksSuperioresHuerto-->
    <div class="FichaGenerica">
      <div class="contenedorFichaGenericaConPadings">

      <div class="tituloFilaFichaGenerica letraNormal">
        
      </div>
      <div class="filaFichaGenerica ">
        <div class="columnaFilaFichaGenerica DosColumnasPorFila">
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <strong>Campo:</strong> <%=" "+ @campo.nombre%>
          </div>
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <strong>Cultivo:</strong> <%=" "+ @huerto.cultivo%>
          </div>
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <strong>Variedades:</strong> <%=" "+ @huerto.variedades%>
          </div>
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <strong>Fecha Plantación:</strong> <%=" --------- "%>
          </div>
        </div>
        <div class="columnaFilaFichaGenerica DosColumnasPorFila">
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <strong>Descripcion:</strong>
          </div>
          <div class="elementoColumnaFilaFichaGenerica letraNormal">
            <%=@huerto.descripcion%>
          </div>
        </div>
      </div><!--fin fila -->

    </div><!--fin FichaGenerica-->
  </div>
    
  </div><!--fin LinksSuperioresEmpleadoMasContenido-->
</div><!--fin contenedorFondoShowFichaHuerto-->