

<div class="campo_<%=campo.id%> fichasUnCampo" >

  <!--    -------------------------------------Para la fiha del campo------------------------------------------------     -->
  <div class="fichaCampoIzquierda">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <span class=" float-right">
          <%=link_to(image_tag("configuracion.png",class: "fotoOpcion", :data=>{:idCampo => (campo.id).to_s, :toggle => "tooltip", :placement => "top", :title => "configuracion parametros"}),user_campo_configuracionParametros_path(current_user,campo), method: :get)%> 
          <%= image_tag("editarAmarillo.png",class: "fotoOpcion imagenEditarCampo",:data=>{:idCampo => (campo.id).to_s, :toggle => "tooltip", :placement => "top", :title => "editar campo"})%>
          <%=image_tag("deleteRed.png",class: "fotoOpcion imagenBorrarCampo",:data=>{:idCampo => (campo.id).to_s, :toggle => "tooltip", :placement => "top", :title => "borrar campo"})%>
        </span>
        <div class="card-title mb-0 letraNormal"><strong><%=campo.nombre%></strong></div>
      </div><!--   fi del card header -->
      <div class="card-body"> <!--    el cuerpo de lo que esta en la ficha de un campo (parte de la izquierda)  -->
        <div class="bodyFichaCampo">
        <div class="parteSuperiorBodyFichaCampo">
          <div class="contenidoBodyFichaCampo">
            <p class="card-text" ><strong>Propietario:</strong></p>
            <p class="card-text" id="propietarioCampo_<%=campo.id%>"> <%=campo.propietario%></p>
          </div>
          <div class="contenidoBodyFichaCampo">
            <p class="card-text" ><strong>Dirección:</strong></p>
            <p class="card-text"  id="direccionCampo_<%=campo.id%>"> <%=campo.direccion%></p>
          </div>
          <div class="contenidoBodyFichaCampo">
            <p class="card-text" ><strong>Descripción: </strong></p>
            <p class="card-text"  id="descripcionCampo_<%=campo.id%>"> <%=campo.descripcion%></p>
          </div>
        </div>
        <div class="ParteInferiorBodyFichaCampo">
          <div class="botonesBodyFichaCampo">
            <%=link_to(button_tag("Proveedores", class: "btn botonAzul botonFichaCampo" ),user_campo_proveedors_path(current_user,campo), method: :get  )%>
            <%=link_to(button_tag("Huertos", class: "btn botonAzul botonFichaCampo"),user_campo_huertos_path(current_user,campo), method: :get  )%>
            <%=link_to(button_tag("Contabilidad", class: "btn botonAzul botonFichaCampo" ),user_campo_elemento_contables_path(current_user,campo), method: :get  )%>
            <!--<%=link_to(button_tag("Equipos", class: "btn botonAzul botonFichaCampo" ),user_campo_equipos_path(current_user,campo), method: :get  )%>-->
            <%=link_to(button_tag("Personal", class: "btn botonAzul botonFichaCampo" ),user_campo_empleados_path(current_user,campo), method: :get  )%>
          </div>
        </div>      
        </div>  
      </div>  
    </div>   
  </div> <!--  fin ficha de la izquierda    -->




  <!--    ------------------------ para la ficha de la nota--------------------------------     -->
  <div class="fichaCampoDerecha">
    <div class="card flex-fill w-100">

      <div class="card-header">
        <span class=" float-right"><%=image_tag("ticketVerde.png",class: "fotoOpcion ticketGuardarCambiosNotasCampo",:data=>{:idCampo => (campo.id).to_s, :toggle => "tooltip", :placement => "top", :title => "guardar cambios"})%></span>
        <div class="card-title mb-0 letraNormal"><strong>Notas</strong></div>
      </div>

      <div class="card-body fichaDerechaCampo">
             <div class="contenedorAlertaCambiosNotasGuardadas">
               <div class="alert alert-success alertaCambiosNotasGuardadas" id="alertaCambiosNotasGuardadas_<%=campo.id%>" role="alert">
                 Cambios guardados
               </div>
             </div>
             
        <%=form_for campo, url: user_campo_path(current_user, campo), method: :patch, remote: true,  :html => { :id => "formEditarNotasCampo_#{campo.id}", :class=>"formEditarNotasCampoDerecha"} do |form| %>
          <div class="form-group notaDeFichaDerechaCampo">
            <%=form.text_area :recordatorio, value: campo.recordatorio, class: "form-control  dondeSeEscribeLaNota"%>
          </div>
        <%end%> 

        
      </div>

    </div><!--  fin ficha de la derecha    -->
  </div> <!--  fin ficha de la derecha    -->



</div><!--  fin conteedor de ficha izquierda y derecha para un campo    -->




<!-- ____________________________________editar un campo________________________________________ -->

<div class="modal fade bd-example-modal-lg" id="modal_editar_campo_<%=campo.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Campo:<%=campo.nombre%></strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <%=form_for campo, url: user_campo_path(current_user,campo), method: :patch, remote: true do |form| %>
        <%=form.label :nombre%>
        <%=form.text_field :nombre, :maxlength => 55, class: "form-control textField"%>

        <%=form.label :propietario%>
        <%=form.text_field :propietario, class: "form-control textField"%>

        <%=form.label :direccion%>
        <%=form.text_field :direccion, class: "form-control textField"%>

        <%=form.label :descripcion%>
        <%=form.text_area :descripcion, class: "form-control textField"%>

        <%=form.submit("Confirmar", class: "btn botonVerde ", id: "botonConfirmarCrearCampo")%>
        <%end%>
      </div>

    </div>
  </div>
</div>

<!-- ________________________borrar un campo______________________________ -->

<div class="modal fade" id="modal_borrar_campo_<%=campo.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Campo:<%=campo.nombre%></strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <h5>
          ¿Seguro que desea borrar todos los datos asociados a este campo?
        </h5>
        <%=link_to(button_tag("Borrar Campo", class: "btn botonRojo botonConfirmarBorrarCampo"), user_campo_path(current_user,campo), method: :delete, remote: true )%>

      </div> 
    </div>
  </div>
</div>