 <!-- ___________________________________ crear un campo_______________________________-->

 <div class="modal fade bd-example-modal-lg " id="crearCampoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="exampleModalLongTitle">Complete los datos del campo a crear </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <%=form_for @campo, url: user_campos_path(current_user), method: :post, remote: true do |form| %>
        <%=form.label :nombre%>
        <%=form.text_field :nombre, :maxlength => 55, class: "form-control textField"%>

        <%=form.label :propietario%>
        <%=form.text_field :propietario, class: "form-control textField"%>

        <%=form.label :direccion%>
        <%=form.text_field :direccion, class: "form-control textField"%>

        <%=form.label :descripcion%>
        <%=form.text_area :descripcion, class: "form-control textField"%>
        
        <%=form.submit("Agregar", class: "btn botonVerde ", id: "botonConfirmarCrearCampo")%>

        <!-- aca van los parametros de configuracion del campo -->
        <div class="contenedorEscondidoParametrosFijosACrearConCampo">
          <%=render partial: "parametrosFijosACrearConCampo", locals: {form: form, campo: @campo}%>  
        </div>
           
        <%end%>
      </div>
    </div>
  </div>
</div>




