

<!-- esta parte se ejecutara solo cuando queremos poner algo en la tabla -->
<% if @adentroTablaElementosContablesEspecificos == true %>
  <tr class="filaListaGrande " id="filaElementoContableEspecifico_<%=elementoContableEspecifico.id%>">

    <td class="columnaInformacionListaGrandeSeisPorFila">
          <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="nombreElementoContable_<%=elementoContableEspecifico.id%>">
              <%@buscandoProveedor= "sinProveedor"%>
              <%proveedors.each do |x|%>
                <%if x.id == elementoContableEspecifico.proveedor_id%>
                  <%=x.razonsocial%>
                  <%@buscandoProveedor= "Tiene"%>
                <%end%>
              <%end%>
              <%if @buscandoProveedor == "sinProveedor"%>
                  <%="Sin Proveedor Registrado"%>
              <%end%>
            </div> 
          </div>
      </td>

      <td class="columnaInformacionListaGrandeSeisPorFila">
          <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="nombreElementoContable_<%=elementoContableEspecifico.id%>">
              <%=elementoContableEspecifico.numerodocumento%> 
            </div>
          </div>
      </td>

      <td class="columnaInformacionListaGrandeSeisPorFila">
          <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="nombreElementoContable_<%=elementoContableEspecifico.id%>">
              <%=elementoContableEspecifico.fecha%> 
            </div>
          </div>
      </td>

      <td class="columnaInformacionListaGrandeSeisPorFila">
      	  <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="nombreElementoContable_<%=elementoContableEspecifico.id%>">
              <%=elementoContableEspecifico.fechaparapago%> 
            </div>
      	  </div>
      </td>

      <td class="columnaInformacionListaGrandeSeisPorFila">
          <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="montoConTipoIngresoEgresoElementoContable_<%=elementoContableEspecifico.id%>">

                <%=elementoContableEspecifico.montoexento+elementoContableEspecifico.montoneto+elementoContableEspecifico.montoivarecuperable+elementoContableEspecifico.montovalorotroimpuesto%> 
          
              
            </div>
          </div>
      </td>
            <td class="columnaInformacionListaGrandeSeisPorFila">
          <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande letraNormalChica" id="fechaElementoContable_<%=elementoContableEspecifico.id%>">
                <%if elementoContableEspecifico.tipoIngresoEgreso == "Ingreso"%>
                <%=elementoContableEspecifico.montoexento+elementoContableEspecifico.montoneto+elementoContableEspecifico.montoivarecuperable+elementoContableEspecifico.montovalorotroimpuesto%> 
              <%end%>
              <%if elementoContableEspecifico.tipoIngresoEgreso == "Gasto"%>
                <%=(elementoContableEspecifico.montoexento+elementoContableEspecifico.montoneto+elementoContableEspecifico.montoivarecuperable+elementoContableEspecifico.montovalorotroimpuesto)*-1%>
              <%end%>
            </div>
          </div>
      </td>
      
      <td class="columnaImagenesDerechaListaGrande">
      	   <div class="pocaInformacionListaGrande elementoContableEspecificoTablaPocaInformacion_<%=elementoContableEspecifico.id%>" >
              <div class="contenedorImagenesYBotonesDerechaListaGrande">
      	   	   <div class="imagenesDerechaListaGrande">

                   <%=link_to(image_tag("verDetalleLupa.png",class: "fotoOpcion", :data=>{ :toggle => "tooltip", :placement => "top", :title => "Editar"}),user_campo_elemento_contable_elemento_contable_pagos_path(current_user,@campo, elementoContableEspecifico.id), method: :get)%>

                    <%=link_to(image_tag("editarAmarillo.png",class: "fotoOpcion", :data=>{ :toggle => "tooltip", :placement => "top", :title => "Editar"}),edit_user_campo_elemento_contable_path(current_user,@campo, elementoContableEspecifico.id), method: :get)%>

                    <%=image_tag("deleteRed.png",class: "fotoOpcion imagenBorrarElementoContable" , :data=>{:idElementoContable => (elementoContableEspecifico.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Borrar"})%> 
               </div>
              </div>
      	   </div>
      </td>
  </tr>
<%end%>
<!-- fin del contenido de la tabla -->



<!-- esta parte se ejecutara solo cuando queremos poner los modals para confirmar el borrado, editar y mostrar mas info sobre el elemento contable -->
<%if @adentroContenedorModalsElementosContablesEspecificos == true%>


<!-- _______________________________________________________________________________-->
<!-- modal para mostrar un elemento contable-->

<div class="modal bd-example-modal-lg fade modalParaMostrarElementoContable" id="modal_mostrar_elemento_contable_<%=elementoContableEspecifico.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
             <h5>
                <strong>Elemento contable</strong>
             </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" data-title="cerrar ventana">
                   <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
        	      <h5>
                    <strong>Cuenta principal:</strong> <%=nombreCuentaPrincipalEspecifica.gsub("-"," ")%>
                  </h5>
                  <h5>
                    <strong>Cuenta secundaria:</strong> <%=nombreCuentaSecundariaEspecifica.gsub("-"," ")%>
                  </h5>
        	      <p></p>
                  <h5>
                    <strong>Razon movimiento:</strong> <div class="contenedorInformacionMostrarElementoContable" id="nombreMostrarElementoContable_<%=elementoContableEspecifico.id%>"><%=elementoContableEspecifico.nombre%></div>
                  </h5>
                  <h5>
                    <strong>Fecha:</strong> <div class="contenedorInformacionMostrarElementoContable" id="fechaMostrarElementoContable_<%=elementoContableEspecifico.id%>"><%=elementoContableEspecifico.fecha%></div>
                  </h5>
                  <h5>
                    <strong>Tipo: </strong><div class="contenedorInformacionMostrarElementoContable" id="tipoIngresoEgresoMostrarElementoContable_<%=elementoContableEspecifico.id%>"><%=elementoContableEspecifico.tipoIngresoEgreso%></div>
                  </h5>
                  <h5>
                    <strong>Monto:</strong> <div class="contenedorInformacionMostrarElementoContable" id="montoMostrarElementoContable_<%=elementoContableEspecifico.id%>"><%=elementoContableEspecifico.monto%></div>
                  </h5>
                  <p></p>

                  <h5>
                    <strong>Observaciones: </strong>
                  </h5>
                  <h5>
                    <div class="contenedorInformacionMostrarElementoContable" id="observacionMostrarElementoContable_<%=elementoContableEspecifico.id%>">
                    <%=elementoContableEspecifico.observacion%></div>
                  </h5>
                    
        </div>
      </div>
    </div>
  </div>





 

<!-- _______________________________________________________________________________-->
<!-- modal para editar un elemento contable-->


<!-- _______________________________________________________________________________-->
<!-- modal para borrar un elemento contable-->

  <div class="modal fade modalParaBorrarElementoContable" id="modal_borrar_elemento_contable_<%=elementoContableEspecifico.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
             <h5>
                <strong><%=elementoContableEspecifico.nombre%> </strong>
             </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" data-title="cerrar ventana">
                   <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
                  <h5>
                    ¿Seguro que desea borrar todos los datos asociados a este elemento contable?
                  </h5>
                    <%=link_to(button_tag("Borrar", class: "btn botonRojo botonConfirmarBorrarEquipo"), user_campo_elemento_contable_path(current_user,campo,elementoContableEspecifico), method: :delete, remote: true )%>
        </div>
      </div>
    </div>
  </div>
<!-- fin modal para borrar empleado -->



<%end%><!-- fin del if donde estan los modals-->