
<!-- esta parte se ejecutara solo cuando queremos poner algo en la tabla -->
<% if @adentroTablaEmpleado == true %>
  <tr class="filaListaGrande" id="filaEmpleado_<%=empleado.id%>">
      <td class="columnaInformacionListaGrandeCincoPorFila">
      	  <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande">
              <%=empleado.nombre%> <%=empleado.apellidos%> 
            </div>
      	  </div>
      	  <div class="muchaInformacionListaGrande empleadoTablaMuchaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.nombre%> <%=empleado.apellidos%> 
            </div>
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.rut%>  
            </div>
      	  </div>
      </td>
      <td class="columnaInformacionListaGrandeCincoPorFila">
      	  <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande">
                <%=empleado.telefonoContacto%>
            </div>
      	  </div>
      	  <div class="muchaInformacionListaGrande  empleadoTablaMuchaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
                <%=empleado.telefonoContacto%>
            </div>
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
                <%=empleado.emailEmpleado%>
            </div>
      	  </div>
      </td>
      <td class="columnaInformacionListaGrandeCincoPorFila">
      	   <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande">
              <%=empleado.cargo%>
            </div>
      	   </div>
      	   <div class="muchaInformacionListaGrande empleadoTablaMuchaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.cargo%>
            </div>
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.fechaContratacion.to_s%>
            </div>
      	   </div>
      </td>
      <td class="columnaInformacionListaGrandeCincoPorFila" >
      	  <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande">
              <%=empleado.sueldoBaseMensual%>
            </div>
      	  </div>
      	  <div class="muchaInformacionListaGrande  empleadoTablaMuchaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.sueldoBaseMensual%>
            </div>	
      	  </div>
      </td>
      <td class="columnaInformacionListaGrandeCincoPorFila" >
          <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionPocaInformacionListaGrande">
              <%=empleado.tipoContrato%>
            </div>
          </div>
          <div class="muchaInformacionListaGrande  empleadoTablaMuchaInformacion_<%=empleado.id%>">
            <div class="contenedorUnaInformacionMuchaInformacionListaGrande">
              <%=empleado.tipoContrato%>
            </div>  
          </div>
      </td>
      <td class="columnaImagenesDerechaListaGrande">
      	   <div class="pocaInformacionListaGrande empleadoTablaPocaInformacion_<%=empleado.id%>" >
              <div class="contenedorImagenesYBotonesDerechaListaGrande">
      	   	   <div class="imagenesDerechaListaGrande">
                 <!--en caso de que se quiera poner la flecha que abre la otra parte-->
                    <!--<%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionEmpleado", :data=>{:idEmpleado => (empleado.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>-->
                    <%=link_to(image_tag("verDetalleLupa.png",class: "fotoOpcion", :data=>{:idEmpleado => (empleado.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Ficha"}),user_campo_empleado_path(current_user,@campo, empleado), method: :get)%>
                    <%=link_to(image_tag("editarAmarillo.png",class: "fotoOpcion", :data=>{:idEmpleado => (empleado.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Editar"}),edit_user_campo_empleado_path(current_user,@campo,empleado), method: :get)%>
                    <%=image_tag("deleteRed.png",class: "fotoOpcion imagenBorrarEmpleado" , :data=>{:idEmpleado => (empleado.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Borrar"})%> 
               </div>
              </div>
      	   </div>
      	   <div class="muchaInformacionListaGrande empleadoTablaMuchaInformacion_<%=empleado.id%>">
              <div class="contenedorImagenesYBotonesDerechaListaGrande">
      	   	   <div class="imagenesDerechaListaGrande">
                    <%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionEmpleado", :data=>{:idEmpleado => (empleado.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
                </div>

                <div class="botonesListaGrande">
                      <%=link_to(button_tag("Ficha", class: "btn botonAzul botonListaGrande" ),user_campo_empleado_path(current_user,@campo, empleado), method: :get  )%>
                </div>
              <div>
      	   </div>
      </td>
  </tr>
<%end%>
<!-- fin del contenido de la tabla -->





<!-- esta parte se ejecutara solo cuando queremos poner los modals para confirmar el borrado -->
<%if @adentroContenedorModalsBorrarEmpleado == true%>
  <div class="modal fade modalParaBorrarEmpleado" id="modal_borrar_empleado_<%=empleado.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content modalParaHuerto">
        <div class="modal-header">
             <h5>
                <strong>Personal:<%=empleado.nombre%> <%=empleado.apellidos%></strong>
             </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" data-title="cerrar ventana">
                   <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
                  <h5>
                    ¿Seguro que desea borrar todos los datos asociados a esta persona?
                  </h5>
                    <%=link_to(button_tag("Borrar Personal", class: "btn botonRojo botonConfirmarBorrarEmpleado"), user_campo_empleado_path(current_user,campo,empleado), method: :delete, remote: true )%>
        </div>
      </div>
    </div>
  </div>
<%end%><!-- fin modal para borrar empleado -->
