 <tr class="filaMiniListaContenida filaPagoItemHaberNoImponible nested-fields ">
    <%=f.text_field :haberDescuentoExtra,class: "form-control formEscondido", value: "haberNoImponible"%>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=f.text_field :item, class: "form-control formSinBorde"%>
            </div> 
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=f.number_field :cantidad, class: "form-control formSinBorde inputCantidadItemPago", value: 1%>
            </div>
        </div> 
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida e">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=f.number_field :valor, class: "form-control formSinBorde inputValorItemPago", value: 0, step: :any%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida ">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida contenedorMonto">
                0
            </div>
        </div>
    </td>
    <td class="columnaImagenesDerechaMiniListaContenida">
        <div class="pocaInformacionMiniListaContenida " >
            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
                <div class="imagenesDerechaMiniListaContenida">
                    <div class="imagenesDerechaMiniListaContenida">
                    <%=link_to_remove_association(image_tag("deleteRed.png",class: "fotoOpcion imagenDerechaBorrarItemPago"), f)%>  
                </div>
            </div>
        </div>
    </td>
</tr>