 
 <!-- ----------------------descuento por afp-------------------------------------------  -->
 <%= form.fields_for :pago_items, @empleado_pago.pago_items.build do |ff| %>
 <tr class="filaMiniListaContenida nested-fields" >
    <%=ff.text_field :haberDescuentoExtra,class: "form-control formEscondido", value: "descuento"%>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                Aporte fondo previcional (AFP)
                <%=ff.text_field :item, class: "form-control formSinBorde formEscondido", value: "Aporte fondo previcional (AFP)"%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=@empleado.porcentajeCotizacionAFP.to_s + " %"%>
                <%=ff.number_field :cantidad, class: "form-control formSinBorde formEscondido", value: @empleado.porcentajeCotizacionAFP/100%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida e">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                calcular haberes imponbles
                <%=ff.number_field :valor, class: "form-control formSinBorde formEscondido", value: @empleado.sueldoBaseMensual, step: :any%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida ">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=@empleado.sueldoBaseMensual*empleado.porcentajeCotizacionAFP/100%>
            </div>
        </div>
    </td>
    <td class="columnaImagenesDerechaMiniListaContenida">
        <div class="pocaInformacionMiniListaContenida " >
            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
                <div class="imagenesDerechaMiniListaContenida">
                    <div class="imagenesDerechaMiniListaContenida">
                    <%=link_to_remove_association(image_tag("deleteRed.png",class: "fotoOpcion imagenDerechaBorrarItemPago"), ff)%> 
                </div>
            </div>
        </div>
    </td>
</tr>
<%end%>

 <!-- ---------------descuento por salud--------------------------------------  -->
 <%= form.fields_for :pago_items, @empleado_pago.pago_items.build do |ff| %>
  <tr class="filaMiniListaContenida nested-fields" >
    <%=ff.text_field :haberDescuentoExtra,class: "form-control formEscondido", value: "descuento"%>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                Aporte salud obligato
                <%=ff.text_field :item, class: "form-control formSinBorde formEscondido ", value: "Aporte salud obligato"%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=@empleado.porcentajeCotizacionIsapre.to_s + " %"%>
                <%=ff.number_field :cantidad, class: "form-control formSinBorde formEscondido", value: @empleado.porcentajeCotizacionIsapre/100%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida e">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                calcular haberes imponbles
                <%=ff.number_field :valor, class: "form-control formSinBorde formEscondido", value: @empleado.sueldoBaseMensual, step: :any%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida ">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=@empleado.sueldoBaseMensual*@empleado.porcentajeCotizacionIsapre/100%>
            </div>
        </div>
    </td>
    <td class="columnaImagenesDerechaMiniListaContenida">
        <div class="pocaInformacionMiniListaContenida " >
            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
                <div class="imagenesDerechaMiniListaContenida">
                    <%=link_to_remove_association(image_tag("deleteRed.png",class: "fotoOpcion imagenDerechaBorrarItemPago") , ff)%>
                </div>
            </div>
        </div>
    </td>
</tr>
<%end%>

<!-- ----------------descuento por seguro de sesantia------------------------------  -->
<!-- solo se ejecuta si esque   -->
  <%= form.fields_for :pago_items, @empleado_pago.pago_items.build do |ff| %>
    <tr class="filaMiniListaContenida nested-fields" >
    <%=ff.text_field :haberDescuentoExtra,class: "form-control formEscondido", value: "haber"%>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=ff.text_field :item, class: "form-control formSinBorde ", value: "Seguro sesantia"%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=ff.number_field :cantidad, class: "form-control formSinBorde inputCantidadItemPago", value: 1%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida e">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                   <%=ff.number_field :valor, class: "form-control formSinBorde inputValorItemPago", value: 0000%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida ">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida contenedorMonto">
                Monto
            </div>
        </div>
    </td>
    <td class="columnaImagenesDerechaMiniListaContenida">
        <div class="pocaInformacionMiniListaContenida " >
            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
                <div class="imagenesDerechaMiniListaContenida">
                    <%=link_to_remove_association(image_tag("deleteRed.png",class: "fotoOpcion imagenDerechaBorrarItemPago") , ff)%> 
                </div>
            </div>
        </div>
    </td>
</tr>
<%end%>

   <!-- ----------------------descuento por salud-------------------------------------------  -->







