<div class="contenedorFondoFichaGenerica">
  <div class="opcionesArribaFichaGenerica">
      <h5><strong> Ficha de: <%=@empleado.nombre%> <%=@empleado.apellidos%></strong></h5> 
      
  </div>
  <div class="contenedorLinkSuperioresMasContenidoFichaGenerica">

    <!--LinksSuperioresEmpleado-->
    <div class="linksSuperioresFichaGenerica"> 
        <ul class=" listaLinksFichaGenerica">
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Principal",user_campo_empleado_path(current_user,@campo, @empleado), :method => "get", class: "linkFichaGenerica ")%>
          </li>
          <!--
          <li class="elementoListaLinksFichaGenerica">
            <%=link_to("Horarios",user_campo_empleado_empleado_horarios_path(current_user,@campo, @empleado), :method => "get", class: "linkFichaGenerica ")%>
          </li>
          -->
          <li class="elementoListaLinksFichaGenerica">
            <%=link_to "Pagos",user_campo_empleado_empleado_pagos_path(current_user,@campo,@empleado), :method => "get", class: "linkFichaGenerica linkSeleccionadoFichaGenerica"%>
          </li>
          <!--
          <li class="elementoListaLinksFichaGenerica">
            <%=link_to "Inasistencias",user_campo_empleado_empleado_abandonos_path(current_user,@campo,@empleado), :method => "get", class: "linkFichaGenerica"%>
          </li>
          <li class="elementoListaLinksFichaGenerica">
            <%=link_to "Observaciones",user_campo_empleado_empleado_observaciones_path(current_user,@campo,@empleado), :method => "get", class: "linkFichaGenerica"%>
          </li>
          -->
        </ul>
    </div><!--fin LinksSuperioresEmpleado-->


    <div class="FichaGenerica">
      
      <div class="contenedorMiniListaContenida"></div>
        <table class="table table-striped table-bordered tablaPagos ">
          <thead>
            <tr class="filaSuperiorMiniListaContenida">
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Motivo</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Fecha</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Forma de pago</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila">Monto</th>
              <th class="tituloColumnaBotonMiniListaContenida columnaImagenesDerechaMiniListaContenida" > <%=link_to(button_tag("+ Pago", class: "btn botonNaranjo botonAgregarPago " ),new_user_campo_empleado_empleado_pago_path(current_user,@campo), method: :get  )%></th>
            </tr>
          </thead>  
          <tbody>
            <% @adentroTablaEmpleado_pagos = true %>
            <%=render partial: "empleado_pago", collection: @empleado_pagos, locals: {campo: @campo, empleado: @empleado }%>
            <% @adentroTablaEmpleado_pagos = false %>
          </tbody>
        </table>
      </div><!--fin contenedorMiniListaContenida-->

    </div><!--fin FichaEmpleado-->
  </div><!--fin LinksSuperioresEmpleadoMasContenido-->
</div><!--fin contenedorFondoShowFichaEmpleado-->


<!--+++++++++++++++++modals para confirmar borrar un pago+++++++++++++++++++++++++++++++++-->
<div class="contenedorModalsBorrarPago"> 
<% @adentroContenedorModalsBorrarEmpleado_pago = true %>
<%=render partial: "empleado_pago", collection: @empleado_pagos, locals: {campo: @campo, empleado: @empleado }%>
<% @adentroContenedorModalsBorrarEmpleado_pago  = false %>
</div>
<!--+++++++++++++++++fin modals para confirmar borrar un empleado++++++++++++++++++++++++++++-->