<div class="contenedorFondoPlanillaNewYEdit">
    <%=form_for @equipo, url: user_campo_equipos_path(current_user,@campo), method: :post,:html => { :class => "formPlanillaNewYEdit" } do |form| %>
	    <div class="barraArribaPlanillaNewYEdit">
		   <h5><strong> Agregando un equipo, complete los datos antes de agregar</strong></h5>
           <%=form.submit("Agregar", class: "btn botonVerde ")%>
	    </div>

	    <div class="bloqueContenedorInformacionPlanillaNewYEdit">
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Datos Basicos
	    		</div>
	    		<div class="filaInformacionPlanillaNewYEdit">

	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Tipo</strong></label>
                            <%=form.text_field :tipoEquipo, class: "form-control agregarInformacionPlanillaNewYEdit", placeholder: "Ej: Tractor, Pulverizadora, Grua"%> 
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Fecha fabricacion</strong></label>
                            <%=form.date_field :fechaFabricacion, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    			</div>

	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Marca</strong></label>
                            <%=form.text_field :marca, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Patente</strong></label>
                            <%=form.text_field :patente, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    			</div>

	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Modelo</strong></label>
                            <%=form.text_field :modelo, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Estado</strong></label>
                            <%=form.select(:estado, ["Operacional","Inoperante","En mantencion","Vendida","Dada de baja"],{}, {:class => "form-control agregarInformacionPlanillaNewYEdit"} )%>
	    				</div>
	    			</div>
	    		</div>

	    		<div class="filaInformacionPlanillaNewYEdit">
	    			<div class="columnaInformacionUnaPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Descripcion del equipo</strong></label>
                            <%=form.text_area :descripcion, class: "form-control agregarInformacionPlanillaNewYEdit textArea"%>
	    				</div>
	    			</div> 
	    		</div>
	    </div>
	    	
	    
	    <div class="bloqueContenedorInformacionPlanillaNewYEdit">
	    	<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    		Datos Adquisición
	    	</div>
	    	<div class="filaInformacionPlanillaNewYEdit">

	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Fecha adquisición</strong></label>
                            <%=form.date_field :fechaFabricacion, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Fecha limite garantia</strong></label>
                            <%=form.date_field :fechaFabricacion, class: "form-control agregarInformacionPlanillaNewYEdit"%>
	    				</div>
	    				
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Monto pagado</strong></label>
                            <%=form.number_field :fechaFabricacion, class: "form-control agregarInformacionPlanillaNewYEdit", value: 0, step: :any, in: 0.0..9999999999.0%>
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Metodo de pago</strong></label>
                            <%=form.text_field :tipoEquipo, class: "form-control agregarInformacionPlanillaNewYEdit"%> 
	    				</div>
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Organizacion vendedora</strong></label>
                            <%=form.text_field :tipoEquipo, class: "form-control agregarInformacionPlanillaNewYEdit"%> 
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Persona a cargo de venta</strong></label>
                            <%=form.text_field :tipoEquipo, class: "form-control agregarInformacionPlanillaNewYEdit"%> 
	    				</div>
	    			</div>
	    	</div>
	     	
	    </div>

	    <div class="bloqueContenedorInformacionPlanillaNewYEdit">
	    	<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    		Datos Depreciación
	    	</div>
	    	<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    		<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    			<label><strong>Valor libro inicial</strong></label>
                        <%=form.number_field :fechaFabricacion, class: "form-control agregarInformacionPlanillaNewYEdit", value: 0, step: :any, in: 0.0..9999999999.0%>
                    <p>Es el maximo valor depreciable para el equpo. </p>
	    		</div>
	    </div>
	





     <%end%><!-- fin form --> 
</div><!-- fin contenedor fondo -->  