<div class="contenedorFondoPlanillaNewYEdit">
	<%=form_for @huerto_aplicacione, url: user_campo_huerto_huerto_aplicacione_path(current_user,@campo, @huerto), method: :patch,:html => { :class => "formPlanillaNewYEdit" } do |form| %>
	<div class="barraArribaPlanillaNewYEdit">
		<h5><strong> Editando una aplicación, complete los datos antes de agregar</strong></h5>
		<%=form.submit("Agregar", class: "btn botonVerde ")%>
	</div>

	<div class="bloqueContenedorInformacionPlanillaNewYEdit">
		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
			Aplicación al huerto: <%= " "+ @huerto.nombre%>
		</div>
		<div class="filaInformacionPlanillaNewYEdit">
			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Efecto esperado</strong></label>
					<%=form.text_field :efecto, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
			</div> 
		</div>
		<div class="filaInformacionPlanillaNewYEdit">
			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Fecha (mes/día/año)</strong></label>
					<%=form.date_field :fechaaplicacion, class: "form-control agregarInformacionPlanillaNewYEdit", value: Time.now.strftime("%Y-%m-%d"), required: true%>
				</div>
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Producto comercial</strong></label>
					<%=form.text_field :productocomercial, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
			</div>

			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Persona a cargo</strong></label>
					<%=form.text_field :personalacargo, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Ingrediente activo</strong></label>
					<%=form.text_field :ingredienteactivo, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
			</div>

			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Recomendado por</strong></label>
					<%=form.text_field :recomendadopor, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Dosis aplicada</strong></label>
					<%=form.text_field :dosis, class: "form-control agregarInformacionPlanillaNewYEdit", :maxlength => 60%>
				</div>
			</div>
		</div>
		<div class="filaInformacionPlanillaNewYEdit">
			<div class="columnaInformacionUnaPorFilaPlanillaNewYEdit">
				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
					<label><strong>Observaciones</strong></label>
					<%=form.text_area :observacion, class: "form-control agregarInformacionPlanillaNewYEdit textArea"%>
				</div>
			</div> 
		</div>
	</div>
	





	<%end%><!-- fin form --> 
</div><!-- fin contenedor fondo -->  